/* ==========================================================================
	Imports
/* ========================================================================== */
@import "reset";

@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap";

// Variables
// @import "variables/typography";
// @import "variables/colors";
// @import "variables/media-queries";

// Components

// Pages
// @import "pages/content";

/* ==========================================================================
	Base
/* ========================================================================== */

$transitionSpeed : 0.4s;

html {
  height: 100%;
  font-size: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 67.0625em) {
    font-size: 95%;
  }

  @media (max-width: 20em) {
    font-size: 85%;
  }
}